@model CASEPro.Models.USUARIO

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.EMAIL)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.EMAIL)
    @Html.ValidationMessageFor(model => model.EMAIL)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.CONTRASENA)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CONTRASENA)
    @Html.ValidationMessageFor(model => model.CONTRASENA)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ESTADO)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ESTADO)
    @Html.ValidationMessageFor(model => model.ESTADO)
</div>

