@model IEnumerable<CASEPro.Models.USUARIO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            EMAIL
        </th>
        <th>
            CONTRASENA
        </th>
        <th>
            ESTADO
        </th>
        <th>
            CASOS_USOS
        </th>
        <th>
            INTEGRANTES
        </th>
        <th>
            REQUERIMIENTOS
        </th>
        <th>
            REQUERIMIENTOS1
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
			@item.EMAIL
        </td>
        <td>
			@item.CONTRASENA
        </td>
        <td>
			@item.ESTADO
        </td>
        <td>
			@(item.CASOS_USOS == null ? "None" : item.CASOS_USOS.Count.ToString())
        </td>
        <td>
			@(item.INTEGRANTES == null ? "None" : item.INTEGRANTES.Count.ToString())
        </td>
        <td>
			@(item.REQUERIMIENTOS == null ? "None" : item.REQUERIMIENTOS.Count.ToString())
        </td>
        <td>
			@(item.REQUERIMIENTOS1 == null ? "None" : item.REQUERIMIENTOS1.Count.ToString())
        </td>
    </tr>
}

</table>


