@model CASEPro.Models.PROYECTO_DETALLES

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PROYECTO_DETALLES</legend>

    <div class="display-label">PROYECTO_ID</div>
    <div class="display-field">@String.Format("{0:F}", Model.PROYECTO_ID)</div>

    <div class="display-label">DETALLE_TIPO_ID</div>
    <div class="display-field">@String.Format("{0:F}", Model.DETALLE_TIPO_ID)</div>

    <div class="display-label">CONTENIDO</div>
    <div class="display-field">@Model.CONTENIDO</div>

    <div class="display-label">DETALLE_TIPOS</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.DETALLE_TIPOS).ToString()</div>

    <div class="display-label">PROYECTO</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.PROYECTO).ToString()</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


